       
tr:nth-child(even) {
  background-color: #D6EEEE;
}

table thead,
table tfoot {
  position: sticky;
}
table thead {
  inset-block-start: 0; /* "top" */
}
table tfoot {
  inset-block-end: 0; /* "bottom" */
}


table { background-color: #bde9ba; }
th { background-color: lightgreen; }

body {
  background-color: gainsboro;
}

  
